body {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #f0f0f0;
}

#buttonGroup {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 20px;
    z-index: 999;
}

#addImages {
    margin-right: 20px;
}